* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
    "p s c"
    "r r r";
    margin: 1rem;
}

div {
    padding: 1rem;
}

.player-container {
    grid-area: p;
    background-color: lightcoral;
}

.separator {
    grid-area: s;
    background-color: lightslategrey;
}

.computer-container {
    grid-area: c;
    background-color: lightseagreen;
}

.result-box {
    grid-area: r;;
    background-color: yellow;
}